
.main-div{
    display: flex;
   justify-content: center;
    height: 1200px;
    background-color: rgb(133, 61, 196);
}

figcaption{
    color: rgb(46, 151, 25);
    font-size: 35px;
    font-weight: bold;
}

input{
    height: 25px;
    width: 255px;
    border-radius: 5px;
    border: 2px solid black;
    color: black;
}

.addItems{
    display: flex;
    justify-content: center;
    align-items: center;
}

.showItems{
   display: flex;
    flex-direction: column;
  
}

.eachItem{
    display: block;
    padding: 0.5rem;
    justify-content: space-between;
    flex-direction: row; 
     border: 2px solid rgb(98, 9, 9);
}
.spanElem{
    font-size: 1.5rem;
    color: rgb(232, 233, 234);
}
.todo__icon{
    font-size: 2rem;
}
.todo__icon1{
    font-size: 2rem;
    color: red;
}

.btn__effect {
     width: max-content;
    display: inline-block;
    color:#010304;;
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid #4db5ff;;
    transition: all 400ms ease;
    background:  #4db5ff;
    font-size: 1.2rem;
}  